version: '3'

services:
  db:
    image: postgres
    ports:
      - "5432:5432"

  web:
    build: backend/
    entrypoint: /entrypoint.sh
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

  front:
    build: frontend/
    image: johnpapa/angular-cli
    entrypoint: /entrypoint.sh
    command: ng serve --host 0.0.0.0
    volumes:
      - ./frontend:/code
    ports:
      - "4200:4200"

  nginx:
    image: nginx
    container_name: "nginx"
    hostname: "nginx"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/nginx/logs/nginx/:/var/log/nginx
    ports:
      - "5888:80"
    depends_on:
      - front      
