<div class="row">
  <div class="col-md-12">
    <h3>{{data.mainLabelPlural}}</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of listData"> 
          <div class="row">
            <div class="col-md-9" *ngFor="let attr of data.list.attrForLabel" >
              <label>{{attr.label}}:</label>
              <span>{{ item[attr.index] }}</span>
            </div>
            <div class="col-md-3">
              <a class="btn btn-danger align-right" *ngIf="data.list.canDelete" (click)="delete(item.id)" >Delete</a>
              <a class="btn btn-success align-right" *ngIf="data.list.canEdit" (click)="open(content, item)" >Edit</a>
              <a class="btn btn-success align-right" *ngIf="data.name=='viaje' && item.puestos_disponibles > 0" (click)="open(comprarBoleta, {}, {'viaje':item.id})" >Vender</a>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Actualizar {{data.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <general-form [data]="this.forms[data.name]" [update]="dataUpdate"></general-form>
  </div>
</ng-template>

<ng-template #comprarBoleta let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Comprar Boleta</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <general-form [data]="this.forms['boleta']" [defaultValues]="this.defaultValues"></general-form>
    </div>
  </ng-template>