@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.margin {
  margin: 1%;
}

.card-img-top {
  width: 50%;
}

.logo-latam{
  img{
    width: 150px;
  }
}

.table-horarios{
  border: 2px solid black;
  padding: 0;
  text-align: center;

  .border{
    border: 2px solid black;
  }

  div{
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .horario{
    background-color: #c2c8e0;
  }
  .table-titles{
    display: flex;
    padding: 0;
    border-bottom: 2px solid black;
    background-color: #c2c8e0;
  }
  .tables-content{
    display: flex;
    padding: 0;
    .horario{
      text-align: center;
    }
  }
}
